
<br/>					
<br/>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ; padding-top: 90px; padding-left: 50px; padding-right: 50px -->
<div class="container-fluid order-container">
	<div class="row burger-area menu-border">

		<div class="submit-section col-sm-6 text-center">	
			<div>
				<h2 class="text-center"> Today's Menu :</h2>
				<br/>
				<ul>

					<li>Tuna Burger</li>	
					<li>Chili Cheeseburger</li>	
					<li>Bean Burger</li>

				{{#each burger_data}}

					<li>{{this.burger_name}}</li>		

				{{/each}} 
				</ul>
			</div>	
		</div>

<!-- ///////////////////////////////////////// -->

		<div class="col-sm-6 form-box">
			<form  method="POST" action="/burgers/create">  <!-- Create BUTTON/OPTION -->
				<h3 class="text-center">Choose your burger... or custom build your own!</h3>
				<hr style="background-color:white" />
				<input type="text" class="form-control" id="submit-text" name="burger_name" value="">

				<button type="submit" class="btn btn-primary" id="submit-button">Submit</button>

			</form>
		</div>	
	</div>


<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<div class="row main-row">
		<div class="menu-border col-sm-5">
			<h2 class="text-center">Burgers Ordered:</h2>

			{{#each burger_data}}

				{{#unless this.devoured}}

				<div class="row">
					<div class="col-sm-8 text-center">
						<br/>
						<br/>
						<form class="eatBurgerForm" method="POST" action="/burgers/update?_method=PUT"> 
							<input input type="hidden" class="burger_id" type="text" value="{{this.id}}">
							<button class="btn btn-primary" type="submit"><h4>{{this.id}}. {{this.burger_name}}</h4></button>
						</form>
					</div>
				</div>

				{{/unless}} <!-- closing out the "unless >> handlbars-text" -->

			{{/each}} <!-- closing out the "each >> handlbars-text" -->	

		</div>

		<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		<div class=" menu-border col-sm-5 text-center">
			<h2 class="text-center">Burgers Devoured:</h2>

			{{#each burger_data}}

				{{#if this.devoured}}					

						<input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly> <!-- USE: type="submit", WHEN wishing to implement the "DELETE" functionality -->
				
				{{/if}}

			{{/each}}
		</div>	
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	</div>		
</div>


		

<!-- 							  {{#if this.images}}
								<img src={{this.images}} alt="Burger Image">
							  {{/if}} -->