
<br/>					
<br/>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="container-fluid order-container" style="background-image: url(/assets/images/woodBackground.jpg);background-position:center; background-repeat:no-repeat; background-size:cover">
	<div class="row burger-area menu-border">

		<div class="submit-section col-sm-6 text-center">	
			<div>
				<h2 class="text-center"> Today's Menu :</h2>
				<br/>
				<ul>
					<li>Tuna Burger</li>	
					<li>Chili Cheeseburger</li>	
					<li>Bean Burger</li>
					<li>Lamb Burger</li>
					<li>Venison Burger</li>
<!-- 
				{{#each burger_data}}
					<li>{{this.burger_name}}</li>		
				{{/each}}  -->
				</ul>
			</div>	
		</div>

<!-- ///////////////////////////////////////// -->

		<div class="col-sm-6 form-box">
			<form action="/burgers/create" method="POST">
				<h3 class="text-center">Place Your Order Below!</h3>
				<h4 class="text-center"><em>Custom Requests Allowed.</em></h4>
				<hr style="background-color:white" />
				<input type="text" class="form-control" id="submit-text" name="burger_name" value="" placeholder="ie. Chili Cheeseburger">

				<button type="submit" class="btn btn-primary" id="submit-button">Submit</button>

			</form>
		</div>	
	</div>


<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<div class="row main-row">
		<div class="menu-border col-sm-5">
			<h2 class="text-center">Burgers Ordered:</h2>
			<h4 class="text-center"><em>Click to consume.</em></h4>

			{{#each burger_data}}
				{{#unless this.devoured}}

				<div class="row">
					<div class="col-sm-8 text-center">
						<form class="eatBurgerForm"> 
							<input input type="hidden" class="burger_id" type="text" value="{{this.id}}">
							<button class="btn btn-primary btn-large" type="submit"><h4 style="font-size:1em;">{{this.burger_name}}</h4></button>
						</form>
					</div>
				</div>

				{{/unless}} <!-- closing out the "unless >> handlbars-text" -->
			{{/each}} <!-- closing out the "each >> handlbars-text" -->	

		</div>

		<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		<div class=" menu-border col-sm-5 text-center">
			<h2 class="text-center">Burgers Devoured:</h2>

			{{#each burger_data}}
				{{#if this.devoured}}					

				<input class="form-control" type="text" placeholder="Order #{{this.id}}: {{this.burger_name}}" readonly>
				
				{{/if}}
			{{/each}}
		</div>	
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	</div>		
</div>